.banner-image{
    max-width: 700px;
    width: 100%;
border-radius: 15px;
border:1px solid black

}
.credit{
    position: fixed;
    min-width: initial;
    width: initial;
    bottom: 10px;
    display: flex;
    left: 10px;
    align-items: center;
    justify-content: center;
}
.credit > p {
    font-size: 18px;
    margin:0;
}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end > *:not(:first-child) {
    margin-left: 20px !important;
    border-radius: 5px !important;
}
.container{
    border-radius: 20px;
    background-color: rgba(200,200,200, 0.5);
}
body{
    background-image: url(./Tenma_yubi.jpg);
    background-size: cover;
}